@tailwind base;
@tailwind components;

@tailwind utilities;

html {
  @apply text-gray-100;
  /* @apply bg-black-500; */
  height: 100%;
}

body {
  @apply bg-black-300;
  height: 100%;
}
 

.container{
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.hamburger__line{
  width: 3rem;
  height: 0.25rem;
  background-color: #fff;
  margin: 0.25rem;
  border-radius: 5px;
}

.hero{
  height: 60vh;
  max-height: 600px;
}

